/* styles.css */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #484848;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1DB954;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #4ED964;
}

input[type="file"],
input[type="text"] {
    display: block;
    margin: 10px auto;
    font-size: 14px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#results {
    text-align: left;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#warning {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#loading-message {
    text-align: center;
    padding: 10px;
    background-color: #fff3cd;
    border-radius: 4px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#creator {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#apikey {
    display: block;
    margin: 10px auto;
    font-size: 14px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


#apikey + small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

#apikey + small a {
    color: #000000;
    text-decoration: underline;
}

#apikey + small a:hover {
    color: #1DB954;
}
